@charset "utf-8";
body, html {
	color: #000;
	font-family:  'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}

html {
	font-size: 100px;
}
body{
  font-size: 14px;
	background-color: #E8EBF6
}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a, nav{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: 100% !important;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
a {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
input, button, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background-color: transparent;;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;
	border:none;
  outline:0;
}
input[type=text], textarea {
	background-color: #fff;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}
em,h3{
	font:inherit
}

/*内容*/
/**************头像**************/
.avatar-wrap{
/*	height: 3.5rem;*/
	padding-top: .3rem;
	padding-bottom: .2rem;
	text-align: center;
	color: #fff;
  background-image: -moz-linear-gradient( 45deg, rgb(195,161,45) 0%, rgb(171,135,9) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(195,161,45) 0%, rgb(171,135,9) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(195,161,45) 0%, rgb(171,135,9) 100%);
}
.avatar-wrap .avatar{
	display: block;
  width: 1.18rem;
  height: 1.18rem;
	margin: 0 auto;
	border: 1px solid  #fff;
	background-color: #eee;
	border-radius: 50%;
}
.avatar-wrap span{
	display: block;
  font-size: 14px;
	margin-top: .1rem;
}
/*profile*/
.profile{
  max-width: 6rem;
  padding: .3rem .1rem 0;
  margin: 0 auto;
  text-align: center;
}
.profile .article{
  font-size: 12px;
}
.profile .more{
  margin-top: .1rem;
  display: none;
}
.icon-arrow{
  display: block;
  margin-top: .1rem;
  font-size: 18px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.icon-arrow.active{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.show-wrap{
  margin: .3rem 0 0;
  background-color: #fff;
  padding: .3rem .25rem 0;
}
h3.title{
  font-size: 20px;
  padding-bottom: .3rem;
}
.show{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.show a{
  flex:0 0 25%;
  max-width: 23%;
  padding-bottom: .26rem;
  margin-bottom: .15rem;
  text-align: center;
}
.show a img{
  display: block;
  padding-bottom: 8px;
  width: 100%;
}

/*ad*/
.ad{
  position: relative;
  margin: .2rem 0px;
  background-color: #fff;
}
.ad img{
  margin: 0 auto;
}
.m0{
  margin: 0;
}

.blank{
  height: .3rem;
}
/*-----------------------mobile 小于820px-----------------------*/
@media (max-width: 820px){
  html{
    font-size: 50px;
  }
  .container{
    width: auto;
  }
  .show a{ 
    flex:0 0 50%;
    max-width: 48%;
  }
  .m-hide{
    display: none;
  }
}
/*-----------------------pc 大于820px-----------------------*/
@media (min-width: 820px){
  .pc-hide{
    display: none;
  }
  .footer{
    padding: 15px 0px;
    margin-top: 80px;
    text-align: center;
    background-color: #222;
    color: #aaa;
    font-size: 13px;
  }
  .profile .article{
    font-size: 14px;
  }
  .avatar-wrap span{
    font-size: 18px;
  }
}



